
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>HOLA</h2>
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Nuestros productos</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://www.informador.mx/__export/1641927000980/sites/elinformador/img/2022/01/11/carne_molida_2_crop1641927000396.jpg_1902800913.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Molida Especial</a></h3>
            <p>Deliciosa Carne Molida</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW8uYZVAIRNmbbqm-wXnPArs_1gQwXjuVWAg&usqp=CAU" class="img-responsive" alt=""></figure>
            <h3><a href="#">Carne Picada </a></h3>
            <p>Deliciosa Carne Picada</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://http2.mlstatic.com/D_NQ_NP_639112-MLM31687523310_082019-O.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Tocino Ahumado </a></h3>
            <p>Delicioso Tocino Ahumado</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://cdn.shopify.com/s/files/1/0287/0915/8991/products/chorizo-pamplona_1200x1200.jpg?v=1652897966" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Chorizo </a></h3>
            <p>Se lo traga Uriel</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="https://http2.mlstatic.com/D_NQ_NP_639112-MLM31687523310_082019-O.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Tocino Ahumado </a></h3>
          <p>Delicioso Tocino Ahumado</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
     </li>
     <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="https://http2.mlstatic.com/D_NQ_NP_639112-MLM31687523310_082019-O.jpg" class="img-responsive" alt=""></figure>
        <h3><a href="http://www.webcoderskull.com/">Tocino Ahumado </a></h3>
        <p>Delicioso Tocino Ahumado</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
   </li>
   <li class="col-12 col-md-6 col-lg-3">
    <div class="cnt-block equal-hight" style="height: 349px;">
      <figure><img src="https://http2.mlstatic.com/D_NQ_NP_639112-MLM31687523310_082019-O.jpg" class="img-responsive" alt=""></figure>
      <h3><a href="http://www.webcoderskull.com/">Tocino Ahumado </a></h3>
      <p>Delicioso Tocino Ahumado</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
 </li>
 <li class="col-12 col-md-6 col-lg-3">
  <div class="cnt-block equal-hight" style="height: 349px;">
    <figure><img src="https://http2.mlstatic.com/D_NQ_NP_639112-MLM31687523310_082019-O.jpg" class="img-responsive" alt=""></figure>
    <h3><a href="http://www.webcoderskull.com/">Tocino Ahumado </a></h3>
    <p>Delicioso Tocino Ahumado</p>
    <ul class="follow-us clearfix">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</li>
    </ul>
  </div>
</section>